*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .footer {
    background-color: grey;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: -100%;
      width: 100%;
    }
  }
.nuevaCuenta {
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.carrito2 {
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.ayuda2 {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    border-style: solid;
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.footer {
    grid-area: footer;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}