* { margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: black;
 }
.grilla {
display: grid;
grid-template-areas: 
"header searchbar ingreso"
"header carrito ayuda"
"carousell carousell carousell"
"footer footer footer"
;
width: 100%;
height: 100vh;
}
@media screen and (max-width: 648px) {
    .grilla {
        display:flex;
        flex-direction: column;
    }
    
}
.header {
    grid-area: header;
    background-color: black;
    flex-grow: 2;
}
.searchbar {
    grid-area: searchbar;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 5%;
    flex: 1;
}   
.searchbar .search{
    border-radius: 10px;
    border-color: orange;
    color: orange;
}
.ingreso { 
    grid-area: ingreso;
    background-color: black;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}   
.carrito{
    grid-area: carrito;
    background-color: black;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}
.ayuda{
    background-color: black;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}
.carousell {
    grid-area: carousell;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}
.ingresar {
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.nuevaCuenta {
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.carrito2 {
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.ayuda2 {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    border-style: solid;
    border-color: orange;
    margin: 20px;
    padding: 20px;
}
.footer {
    grid-area: footer;
    color: orange;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    display: grid;
    flex: 1;
}